@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

/* 
* { 
    margin:0; 
    padding:0; 
} 
*/
/* eric/tools/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	/* 不累加邊框與內距 */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html,body {
	scroll-behavior: smooth;/* 滑動到指定位置 */
}
body {
	line-height: 1;
	font-family:
		/*⻄⽂*/
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
		/*中⽂*/
		'Noto Serif TC', serif,"蘋⽅-繁", "PingFang TC", "⿊體-繁", "Heiti TC", "微軟正⿊體", "Microsoft JhengHei", sans-serif, ;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: block;
	width: 100%;
}

#topbar {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	/* 按鈕清楚方法一 */
	background-image: linear-gradient(rgba(0, 0, 0, .2) 20%, transparent);
}

.logo {
	/* flex: 1; */
	width: 70px;
} 

/* 主要內容區 */
/* 設定main裡每個section的高度 */
main section {
	height: 100vh;
}

#logovideo {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(255, 233, 243, 0.7);
	width: 100vh;
	height: 100vh;


}

/* main的vera mv影片 */
#logovideo video {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* banner vera mv上面的文字 */
#banner-inner-wrapper{ 
	display: flex;
	justify-content: center;
	position: absolute;
	font-size: larger;
	text-align: center;
	align-items: center;
	line-height: 1.5;
	z-index: 1;
	width: 200px;   /* 0524 */
	height: 200px;
	left: 563px;
	top: 300px;
	background-color: rgba(43, 43, 43, 0.46);

}
#banner-inner-wrapper h2 {
	color: #ECF0F4;
}




/* V2 section共用 */
section {
	display: flex;
	flex-direction: column;
	/* 主軸:垂直 */
	justify-content: center;
	/* 主軸(垂直)置中 */
	align-items: center;
	/* 副軸(水平)置中 */
}



/* section>h2,
#about h2 {
	font-family: 'Caveat', cursive;
	font-weight: 600;
	font-size: 3rem;
	border-top: 10px solid #444;
	color: #444;
	padding: 10px 27px 30px 16px; 
} */


/* mv+行事曆區 */
#mv {
	background-color: #302A1A;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.list-box1 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.list-box2 {
	align-items: center;
}


.list-item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: auto;
	padding: 5px;
	margin: 30px;
}

#mv h2 {
	text-align: center;
	color: #ECF0F4;
	font-size: large;

}
#mv h3 {
	color: #ECF0F4;
	line-height: 1.5;

}

/* members區 */
#members {
	background-color: #ECF0F4;
	height: 100vh;
	/* width: 100vh; */
}
.members-box {
	display: flex;
	height: 80%;
	width: 60%;
}



/* news區 */
#news {
	background-color: #8B7157;
}
a{ text-decoration: none; }
.btn-red { background-color: #483a2c; border-color: #483a2c; color: #ffffff; }
.btn-sm { font-size: 18px; font-weight: 300; padding: 8px 10px 10px; }
.btn-solid { border-width: 1px; border-style: solid; border-radius: 0; }
.btn { line-height: 1; display: inline-block; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; transition: 300ms all ease; -webkit-transition: 300ms all ease; }

.test-page-wrapper *{ font-family: 'Roboto', sans-serif; font-weight: 300; }

.test-page-wrapper{ padding: 50px 0;  }
/* background-color: #e1e1e1; */

.carousel-wrapper{ max-width: 990px; padding: 0 30px; margin: auto; }
.carousel-wrapper .slide{ -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1); box-shadow: 0 5px 10px 0 rgba(0,0,0,.1); border-radius: 10px; }
.carousel-wrapper .slide .thumb{ border-top-left-radius: 10px; border-top-right-radius: 10px; overflow: hidden; height: 200px;  }
.carousel-wrapper .slide .thumb img{ display: block; width: 100%; height: 100%;  object-fit:cover;}

.carousel-wrapper .slide .infos{  }
.carousel-wrapper .slide .infos h4{ margin: 0; padding: 15px 20px; font-size: 16px; font-weight: 600; background-color: #000; color: #fff;     min-height: 36px; }
.carousel-wrapper .slide .infos h4 a{ color: #ffffff; font-weight: 600; text-decoration: none }
.carousel-wrapper .slide .infos .text-wrapper{ padding: 25px 20px; background-color: #ffffff; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; overflow: hidden; }
.carousel-wrapper .slide .infos .text-wrapper p{ margin: 0; margin-bottom: 15px; 
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}
.carousel-wrapper .slide .infos .text-wrapper .read-more-btn{ font-size: 14px; margin-top: 10px; }

.carousel-wrapper .owl-nav .owl-prev,
.carousel-wrapper .owl-nav .owl-next{ position: absolute; top: 50%; transform: translateY(-50%) !important; z-index: 10; background: rgba(255,255,255,.6) !important; width: 50px; height: 50px; display: block; outline: none; border-radius: 50%; -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
box-shadow: 0 5px 10px 0 rgba(0,0,0,.1); }
.carousel-wrapper .owl-nav .owl-prev span,
.carousel-wrapper .owl-nav .owl-next span{ font-size: 58px; line-height: 35px; }
.carousel-wrapper .owl-nav .owl-prev{ left: -80px; }
.carousel-wrapper .owl-nav .owl-next{ right: -80px; }

.carousel-wrapper .owl-stage-outer{ padding: 15px 0; }

@media screen and (max-width: 1200px){
	.carousel-wrapper{ padding: 0 70px; }
	.carousel-wrapper .owl-nav .owl-prev{ left: -60px; }
	.carousel-wrapper .owl-nav .owl-next{ right: -60px; }
}

/* program區 */

/* #program {
	background-color: #B2AF93;
	display: flex;
} */
/* .program {
	width: 200px;
	height: 200px;
	background-color: rgb(0, 93, 62);
	padding: 20px;
	margin: 20px;
} */



/* 頁尾區 */
footer {
	padding: 60px;
	text-align: center;
	font-size: .8rem;
	color: #444;
	background-color: #ECF0F4;
}

